@import "./styles/variables.css";

/* 1. Use a more intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margins and paddings from everything */
* {
  margin: 0;
  padding: 0;
}

/* 3. Allow percentage-based heights and smooth typography scaling */
html,
body,
#root {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
